.button-class-entry {
  width: 2rem;
  height: 2rem;
  background-color: #e8e5e5;
  border: none;
  border-radius: 50%;
  color: white;
  transition: background-color 1s ease;
}

.button-class-entry:hover {
  background-color: white;
  color: #6c63ff;
}

.logo-class-entry {
  color: rgb(176, 174, 174);
  stroke-width: 1;
  cursor: pointer;
}

.note {
  flex-grow: 1;
  max-width: 8.5rem;
  font-family: "Kanit", sans-serif;
  color: black;
  font-size: 1rem;
  font-weight: 50;
  text-align: left;
  overflow-wrap: break-word;
}

.desc {
  font-family: "Kanit", sans-serif;
  color: black;
  font-size: 0.7rem;
  font-weight: 50;
  text-align: left;
}
.input-box {
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border: solid #6c63ff 1px;
  border-radius: 5px;
  font-family: "Kanit", sans-serif;
  color: rgb(153, 153, 153);
  padding: 8px;
  transition: border-color 1s ease, box-shadow 1s ease, background-color 1s ease;
}

.input-box:checked {
  background-color: #6c63ff;
  border-color: #6c63ff;
}

.input-box:hover {
  background-color: #6c63ff;
  border-color: #4c43e0;
}

.to-do {
  border-bottom: 1px solid #898989;
  min-height: 3rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: flex-start;
}

.star-class {
  fill: #e8e5e5;
  transition: fill 1s ease;
  width: 20px;
  height: 20px;
}

.star-active {
  fill: gold;
}
.star-class:hover {
  fill: gold;
}
