.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.edit-button-class {
  width: 5rem;
  margin-top: 1rem;
  margin: 1rem;
  background-color: #6c63ff;
  color: white;
  border: solid #6c63ff 5px;
  border-radius: 10px;
  transition: background-color 1s ease, border 1s ease;
  cursor: pointer;
}

.edit-button-class:hover {
  background-color: white;
  color: #6c63ff;
  border: solid white 5px;
  border-radius: 10px;
}
